.background {
    display: block;
    align-items: center;
    background: url('/images/lul.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 768px;
    @media (min-width: $desktop-breakpoint) {
        background-size: cover;
    }
}
