.background {
    display: block;
    align-items: center;
    background: url('/images/lul.jpg');
    background-size: cover;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: $dark-blue;
    background-repeat: no-repeat;
    @media (min-width: $desktop-breakpoint) {
        min-height: 768px;
    }
}
