.header {
  background: $purple;
  widows: 100vw;
}

.header__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-between;
  @media (min-width: $desktop-breakpoint){
    flex-direction: row;
  }
}

.eye {
  font-size: 25px;
  @media (min-width: $desktop-breakpoint){
    font-size: 40px;
  }
}

.header__title {
  color: white;
  text-decoration: none;
  h1 {
    margin: 0;
    font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
    font-weight: normal;
    text-align: center;
    font-size: 30px;
    @media (min-width: $desktop-breakpoint){
      font-size: 45px;
    }
  }
}

.header__items {
  display: flex;
  flex-direction: column-reverse;
  justify-content: right;
  align-items: center;
  @media (min-width: $desktop-breakpoint){
    flex-direction: row;
  }
}