.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    @media (min-width: $desktop-breakpoint) {
        flex-direction: row;
    }
}

.text-input {
    border: none;
    border-bottom: 4px solid $purple;
    border-right: 2px solid $purple;
    border-bottom-right-radius: 3px;
    background-color: $dark-blue;
    height: 5.2rem;
    width: 100%;
    margin-right: $s-size;
    color: $off-white;
    font-size: $font-size-large;
    font-weight: 300;
    padding: $s-size;
    @media (min-width: $desktop-breakpoint) {
        width: 100%;
    }
}

.text-input-title {
    color: $off-white;
    font-size: 1.8rem;
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 1);
    @media (min-width: $desktop-breakpoint) {
        font-size: 3.2rem;
    }
}
